<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../lib/polymer/polymer.html" rel="import">

<dom-module id="conpinion-element-filter">

  <template>

    <!-- build:style inline conpinion-element-filter -->
    <link href="conpinion-element-filter.css" rel="stylesheet">
    <!-- /build -->

    <content></content>
  </template>

  <!-- build:script inline conpinion-element-filter -->
  <script src="conpinion-element-filter.js"></script>
  <!-- /build -->

</dom-module>
